<tr>
  <td><%= question.id %></td>
  <td><%= link_to question.content, question_path(question.id) %></td>
  <td><%= question.subject.name %></td>
  <td><%= question.question_type %>
  </td>
  <td><%= question.status.to_s %></td>
  <td><%= %></td>
</tr>