<tr>
  <td><%= question.id %></td>
  <td><%= question.content %></td>
  <td><%= question.subject.name %></td>
  <td><%= question.question_type %></td>
  <td><%= question.status %></td>
  <td><%= %></td>
</tr>