<div class="row">
  <li><strong><%= f.object.question.content %></strong></li>
  <% f.object.question.options.each do |option| %>
    <label class="radio">
      <%= f.radio_button :option_id, option.id,
        disabled: !f.object.exam.testing? %>
      <%= option.content %>
    </label>
  <% end %>
</div>
<% if f.object.exam.checked? %>
  <% if f.object.option.is_correct %>
    <span class="label label-primary"><%= t "exams.show.correct" %></span>
  <% else %>
    <span class="label label-danger"><%= t "exams.show.wrong" %></span>
  <% end %>
<% end %>
<br>
